<md-dialog aria-label="Nowy gość">
  <form name="editExpenseForm" ng-cloak autocomplete="off" class="dialog__form">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edytuj Wydatek</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column" layout-align="center center">
        <md-input-container class="addExpense__input-container">
          <label>Nazwa Czynności</label>
          <input class="addExpense__input" required type="text" ng-model="actions.toEdit.name" name="name" ng-change="checkActionsChanges(action)" md-autofocus />
          <div ng-messages="addActionForm.name.$error" role="alert">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <div class="date__picker" moment-picker="dateOfEditingActionText" format="YYYY dddd D MMMM HH:[00]" change="updateEditingDateOfAction(dateOfEditingActionText, actions.toEdit.date)" layout="row" layout-align="center center" tabindex="0">
          <p class="date__value" ng-model="actions.toEdit.date">{{actions.toEdit.date}}</p>
        </div>
        <md-input-container class="filters__expense" layout="column" layout-align="end center">
          <label >Typ Czynności:</label>
          <md-select ng-model="actions.toEdit.type" ng-change="checkActionsChanges(action)" class="actions__select" required>
            <md-option value="Kościół">Kościół</md-option>
            <md-option value="Ogólne">Ogólne</md-option>
            <md-option value="Panna Młoda">Panna Młoda</md-option>
            <md-option value="Pan Młody">Pan Młody</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="filters__expense" layout="column" layout-align="end center">
          <label>Wykonano:</label>
          <md-select ng-model="actions.toEdit.done" ng-change="checkActionsChanges(action)" class="actions__select" required>
            <md-option value="true">Tak</md-option>
            <md-option value="false">Nie</md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions class="md-toolbar-actions" layout="row">
      <md-button ng-click="dialogHide() ; actions.get()">
        Anuluj
      </md-button>
      <md-button ng-click="confirmEditActions(actions.toEdit)" ng-disabled="!actionsChanged">
        Edytuj
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
