<div class="views__bg">
  <div class="views__wrapper">
    <div class="budget__container" layout="column" layout-align="center center">
      <div class="budget__panel" layout="column" layout-align="center center">
        <div class="budget__ammount" layout="row" layout-align="center center" layout-xs="column">
          <img class="budget__img" src="./public/img/piggybank.svg" alt="piggy-bank">
          <div class="budget__calculations">
            <p class="budget__paragraph">{{expenses.expensesAmount}} zł</p>
            <p class="budget__paragraph" ng-if="expenses.expensesPaidAmount > 0">- {{expenses.expensesPaidAmount}} zł</p>
            <p class="budget__paragraph budget__paragraph--sum" ng-if="expenses.expensesPaidAmount > 0"> {{expenses.diff}} zł</p>
          </div>
        </div>
        <div class="budget__controlls" layout="column" layout-align="center center">
          <div class="controlls__filters" layout="row" layout-align="center center">
            <md-input-container class="filters__expense" layout="column" layout-align="end center">
              <label >Filtruj Wydatki:</label>
              <md-select class="filters__select" ng-model="expensePaid">
                <md-option value="">wszystkie</md-option>
                <md-option value="opłacone">opłacone</md-option>
                <md-option value="częściowo">częściowo</md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="filters__price" layout="column" layout-align="end center">
              <label class="price__label">Sortuj Cenę:</label>
              <md-select class="filters__select" ng-model="price">
                <md-option value="">None</md-option>
                <md-option value="price">Rosnąco</md-option>
                <md-option value="-price">Malejąco</md-option>
              </md-select>
            </md-input-container>
          </div>
          <md-button class="controlls__buton" ng-click="addExpense(expense)" ng-disabled="addExpenseForm.$invalid" layout="row" layout-align="center center">dodaj wydatek</md-button>
        </div>
      </div>
      <div class="budget__content" ng-repeat="exp in expenses.model | filter:filterExpenses(expensePaid) | orderBy:price track by $index" layout="row" layout-align="center center" title="Edytuj Wydatek: {{exp.name}}">
        <img class="budget__img" src="./public/img/cancel-mark.svg" alt="down-arrow" title="Usuń Wydatek: {{exp.name}}" ng-click="deleteExpense(exp)">
        <p flex="60" class="budget__expense" layout="row" layout-align="center center" ng-click="editExpense(exp)">{{exp.name}}</p>
        <p flex="40" class="budget__expense" layout="row" layout-align="center center" ng-click="editExpense(exp)">{{exp.price}} zł</p>
      </div>
    </div>
  </div>
</div>
