<div class="views__bg">
  <div class="views__wrapper">
    <div class="views__tools" layout="row" layout-align="end end">
      <img class="places__img" src="./public/img/print.svg" onclick="window.print()" title="drukuj" alt="print">
      <img class="places__img" src="./public/img/download.svg" title="pobierz csv z informacji ogólnych" alt="download as csv"
           ng-json-export-excel data=" [{id: '1', date: dateOfWedding, weddingVenue: weddingVenue, weddingPartyVenue: weddingPartyVenue, nested:[]}]"
           nested-data-property="nested" report-fields="{id: 'ID', date: 'Data Ślubu', weddingVenue: 'Miejsce Ślubu',  weddingPartyVenue: 'Miejsce Wesela'}"
           nested-report-fields="" filename="'informacje-ogólne'">
    </div>
    <div class="views__main" layout="column" layout-align="center center">
      <div class="main__date" layout="column" layout-align="center center">
        <div class="date__counter" layout="row" layout-align="center center">
          <img class="date__img" flex="20" src="./public/img/hourglass.svg" alt="hourglass">
          <p class="date__value" flex="80" layout="row" layout-align="center center" >{{countdownTimer}}</p>
        </div>
        <div class="date__picker" moment-picker="dateOfActionText" format="YYYY dddd D MMMM HH:mm" change="updateDateOfWedding(dateOfActionText, dateOfWedding)" layout="row" layout-align="center center" tabindex="0">
          <img class="date__img" flex="20" src="./public/img/calendar.svg" alt="calendar">
          <p class="date__title" flex="80">Data Ślubu: </p>
        </div>
        <p class="date__value" ng-model="dateOfWedding" layout="row" layout-align="center center">{{dateOfWedding}}</p>
      </div>
      <div class="main__places" layout="row" layout-align="center center" layout-sm="column" layout-xs="column">
        <div class="places__container" layout="column" layout-align="center center">
          <div class="places__weddingVenue" layout="row" layout-align="center center">
            <img class="places__img" src="./public/img/church.svg" alt="church">
            <p class="places__title">Miejsce Ślubu: </p>
          </div>
          <div id="weddingVenue"></div>
          <div class="places__input" layout="row" layout-align="start center">
            <p class="places__value" editable-text="weddingVenue" onbeforesave="updateWeddingVenue($data)">{{weddingVenue}}</p>
          </div>
        </div>
        <div class="places__container" layout="column" layout-align="center center">
          <div class="places__weddingPartyVenue" layout="row" layout-align="center center">
            <img class="places__img" src="./public/img/entrance.svg" alt="wedding place">
            <p class="places__title">Miejsce Wesela: </p>
          </div>
          <div id="weddingPartyVenue"></div>
          <div class="places__input" layout="row" layout-align="start center">
            <p class="places__value" editable-text="weddingPartyVenue" onbeforesave="updateWeddingPartyVenue($data)">{{weddingPartyVenue}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
