<div class="views__bg">
  <div class="views__wrapper">
    <div class="views__main" layout="column" layout-align="center center">
      <div class="main__date" layout="column" layout-align="center center">
        <div class="date__counter" layout="row" layout-align="center center">
          <img class="date__img" src="./public/img/hourglass.svg" alt="hourglass">
          <p class="date__value">{{countdownTimer}}</p>
        </div>
        <div class="date__picker" moment-picker="dateOfWeddingText" format="YYYY dddd D MMMM HH:[00]" change="updateDateOfWedding(dateOfWeddingText, dateOfWedding)" layout="row" layout-align="center center">
          <img class="date__img" src="./public/img/calendar.svg" alt="calendar">
          <p class="date__title">Data Ślubu: </p>
        </div>
        <p class="date__value date__value--padding" ng-model="dateOfWedding">{{dateOfWedding}}</p>
      </div>
      <div class="main__places" layout="row" layout-align="center center" layout-sm="column" layout-xs="column">
        <div class="places__container" layout="column" layout-align="center center">
          <div class="places__weddingVenue" layout="row" layout-align="center center">
            <img class="places__img" src="./public/img/church.svg" alt="church">
            <p class="places__title">Miejsce Ślubu: </p>
          </div>
          <div id="weddingVenue"></div>
          <div class="places__input" layout="row" layout-align="center center">
            <p class="places__value" editable-text="weddingVenue" onbeforesave="updateWeddingVenue($data)">{{weddingVenue}}</p>
          </div>
        </div>
        <div class="places__container" layout="column" layout-align="center center">
          <div class="places__weddingPartyVenue" layout="row" layout-align="center center">
            <img class="places__img" src="./public/img/entrance.svg" alt="wedding place">
            <p class="places__title">Miejsce Wesela: </p>
          </div>
          <div id="weddingPartyVenue"></div>
          <div class="places__input" layout="row" layout-align="center center">
            <p class="places__value" editable-text="weddingPartyVenue" onbeforesave="updateWeddingPartyVenue($data)">{{weddingPartyVenue}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
