<div class="views__bg">
  <div class="views__wrapper">
    <div class="views__tools" layout="row" layout-align="end end">
      <img class="places__img" src="./public/img/print.svg" onclick="window.print()" title="drukuj" alt="print">
      <img class="places__img" src="./public/img/download.svg" title="pobierz csv z listy gości" alt="download as csv"
           ng-json-export-excel data="guestList.model"
           nested-data-property="nested" report-fields="{index:'index', name: 'Nazwa Gościa', table: 'Stół'}"
           nested-report-fields="" filename="'lista-gości'">
    </div>
    <div class="arrangement__container" layout="row">
      <div class="arrangement__guests" layout="column" flex="50">
        <div class="arrangement__header" layout="row" layout-align="center center">
          <img class="arrangement__img" src="./public/img/guests.svg" alt="table">
          <p class="arrangement__title">Goście</p>
        </div>
        <md-input-container class="arrangement__input-container" md-no-float>
          <input class="arrangement__input-search" ng-model="searchingGuest" type="text" placeholder="Wyszukaj Gościa">
        </md-input-container>
        <div class="guests__container">
          <div class="guests__wrapper" dragula='"first-bag"' dragula-model='guestsOfTable'>
            <p ng-repeat="guest in guestsOfTable | filter  : searchingGuest" class="guests__paragraph" title="{{guest.name}}"><span class="guests__index">{{$index+1}}</span>{{'.   ' + guest.name}}</p>
          </div>
        </div>
      </div>
      <div class="arrangement__tables" layout="column" flex="50">
        <div class="arrangement__header" layout="row" layout-align="center center">
          <img class="arrangement__img" src="./public/img/table.svg" alt="table">
          <p class="arrangement__title">Stoły</p>
        </div>
        <form name="addTable" layout="row" layout-align="center center" autocomplete="off">
          <md-button class="arrangement__button" ng-click="add(name)" ng-disabled="addTable.$invalid" flex="50">Dodaj Stół</md-button>
          <md-input-container class="arrangement__input-container" flex="50" md-no-float>
            <input class="arrangement__input-search" ng-model="name" required type="text" ng-pattern-restrict="^[A-Za-z]*$" placeholder="Nazwa Stołu">
          </md-input-container>
        </form>
        <div class="tables__container">
        </div>
      </div>
    </div>
    <md-button class="arrangement__button" flex="100" ng-click="saveArrangement()" layout="row" layout-align="center center">Zapisz rozmieszczenie</md-button>
  </div>
</div>
