.views__main {
  padding-top:70px;
}

.date__counter {
  padding:20px 0 70px 0;
}

.date__counter img.date__img {
    height:100px;
}

.date__counter p {
  font-size:38px;
  font-weight:bold;
}

.date__picker {
  padding:15px 0;
}

.date__picker:focus, .date__picker:active {
  border:none;
  outline: none;
}

.date__value.date__value--green {
  color:#B3E48B;
}

.main__places {
  width:100%;
  padding:70px 0;
}

.places__container {
  width:50%;
}

.places__title, .date__title {
  color:black;
  font-size:32px;
  font-weight:bold;
  font-family: 'Lora', serif;
}

.places__value, .date__value {
  padding-left:5px;
  font-size:32px;
  text-decoration:none;
  text-align:center;
  font-family: 'Cardo', serif;
  color:black;
}

.places__weddingVenue, .places__weddingPartyVenue {
  width:100%;
}

img.places__img, img.date__img {
  height:70px;
  padding-right:20px;
}


#weddingVenue, #weddingPartyVenue {
  height:400px;
  width:90%;
  border-radius: 5px;
  border: 1px solid #660066;
  margin:15px 0;
}

 .editable-click {
  border-bottom:none;
}

.editable-click:hover {
  color:#8C408C;
  cursor:pointer;
}

.editable-wrap {
  text-align:center;
}

.editable-controls input {
  font-size:32px;
  color:#5D0F5D;
  font-family: 'Cardo', serif;
  width: auto;
}

.editable-input.editable-has-buttons {
  width:150px;
  background:transparent;
  border:none;
  text-align:center;
}

.editable-input.editable-has-buttons:focus {
  outline:0;
}

.editable-buttons  {
  vertical-align: middle;
}

.editable-buttons button {
  display: inline-block;
  cursor: pointer;
  min-width:70px;
  min-height: 32px;
  line-height: 32px;
  padding:0 10px;
  margin-left:10px;
  vertical-align: middle;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: 0;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.editable-buttons button:hover {
  background:black;
  color: white;
}

@media only screen and (max-width: 960px) {

  .places__container {
    width:100%;
  }

  .places__weddingPartyVenue {
    padding-top:40px;
  }

}
