.main__date, .places__weddingVenue, .places__weddingPartyVenue{
  width:100%;
}

.views__main {
  padding-top:70px;
}

.date__counter {
  min-width:500px;
}

.date__picker {
  margin-top: 15px;
  padding:15px 0;
  min-width:500px;
}

.date__picker:focus, .date__picker:active {
  border:none;
  outline:none;
}

.main__places {
  width:100%;
}

.places__container {
  width:50%;
}

.places__title{
  color:black;
  font-size:32px;
  font-weight:bold;
  font-family:'Lora', serif;
}

.places__input {
  height:100px;
  width:90%;
}

.date__title, .places__value {
  color:white;
  background:#D4D4D4;
  cursor:pointer;
  min-height:44px;
  line-height:44px;
  text-align:center;
  border-radius:2px;
  font-weight:500;
  font-size:14px;
  text-transform:uppercase;
}

.places__value {
  width:100%;
}

.places__value:hover {
  background:#BABABA;
}

.date__title:hover {
  background:#BABABA;
}

.date__value {
  /* padding-left:50px; */
  font-size:38px;
  text-decoration:none;
  text-align:center;
  font-family:'Cardo', serif;
  color:black;
  overflow-wrap:break-word;
  font-weight:bold;
}

img.places__img {
  height:70px;
  padding-right:20px;
}

img.date__img {
  height:70px;
  width:100px;
}

#weddingVenue, #weddingPartyVenue {
  height:400px;
  width:90%;
  border-radius:5px;
  border:1px solid #5E5F5F;
  margin-top:15px;
}

 .editable-click {
  border-bottom:none;
}

.editable-click:hover {
  font-weight:bold;
  color:white;
  cursor:pointer;
}

.editable-wrap {
  text-align:center;
  width:100%;
}

.editable-controls input {
  font-size:32px;
  color:black;
  font-family: 'Cardo', serif;
  width: auto;
}

.editable-input.editable-has-buttons {
  width:90%;
  background:transparent;
  border:none;
  text-align:center;
}

.editable-input.editable-has-buttons:focus {
  outline:0;
}

.editable-buttons  {
  display:block
}

.editable-buttons button {
  display: inline-block;
  cursor: pointer;
  min-width:70px;
  min-height: 32px;
  line-height: 32px;
  vertical-align: middle;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: 0;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.editable-buttons button:hover {
  background:black;
  color: white;
}

.moment-picker td.selected {
  color:white;
  background-image:linear-gradient(#D4D4D4,#BABABA);
  text-shadow:none;
}

.moment-picker table {
  border-collapse:collapse;
  border-spacing:0;
  width:500px;
  table-layout:fixed;
  height:280px;
}

.moment-picker {
  position:fixed;
  top:-200px;
  left:0;
}

@media only screen and (max-width: 960px) {

  .places__container {
    width:100%;
  }

  .places__weddingPartyVenue {
    padding-top:40px;
  }

}

@media only screen and (max-width: 550px) {

  .moment-picker table {
    width:98%;
  }

  .date__counter {
    min-width:98%;
  }

  .date__picker {
    min-width:320px;
  }

  img.date__img {
    display:none;
  }

  img.places__img {
    padding-right:10px;
  }

  .date__value {
    display:block;
    width:80vw;
  }

  .main__places {
    margin-top:40px;
    width:98%;
  }

}
