.arrangement__container {
  margin-top:70px;
  width:100%;
}

.arrangement__guests, .arrangement__tables {
  padding-top:40px;
}

.arrangement__header img.arrangement__img {
  height:100px;
}

.arrangement__title {
  font-size: 70px;
  color: #0A0A0A;
  font-family: 'Lora', serif;
  font-weight: bold;
  font-style: italic;
  margin-left:15px;
}

.arrangement__input-container {
  width:98%;
}

.arrangement__input-search {
  text-align:center;
}

md-input-container.md-input-invalid .md-input.arrangement__input-search {
  border-color:rgba(0,0,0,0.12);
  border-width: 0 0 1px;
}

md-input-container:not(.md-input-invalid).md-input-focused .arrangement__input-search {
  border-bottom-color:#DCDCDC;
}

.arrangement__button {
  background:#D4D4D4;
  color:white;
  padding:5px 0;
  margin:42px 0px;
  width:100%;
}

.arrangement__button:not([disabled]):hover {
  background:#BABABA;
}

.md-button[disabled].arrangement__button {
  background:rgba(158,158,158,0.2);
}

.guests__wrapper {
  padding-top: 41px;
  width:100%;
}

.guests__paragraph:hover,  .table__guest:hover {
  cursor:pointer;
  box-shadow:0 0 5px rgba(121,121,121, 1);
  border:2px solid rgba(121,121,121, 1);
  font-weight:bold;
}

.guests__paragraph, .table__guest {
  padding:10px 0 10px 10px;
  border-bottom:1px solid #DCDCDC;
  color:black;
  font-size:24px;
  font-family:'Cardo', serif;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.guests__paragraph:last-child {
  margin-bottom:70px;
}

.guests__index{
  font-family:Roboto,Helvetica Neue,sans-serif;
}

 .table__guest {
  width:90%;
}

.table__guests {
  box-sizing: border-box;
  width:80%;
  background:#FFFFFF;
  border:1px solid #5E5F5F;
  min-height:200px;
  padding:15px 0;
}

.table__title {
  color: black;
  height:95px;
  line-height:95px;
  font-size: 54px;
  font-weight: bold;
  font-family: 'Lora', serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 720px) {

  .arrangement__title {
    display:none;
  }

  .md-input.arrangement__input-search {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}
