* {
  margin:0;
  padding:0;
}

.initialize__bg {
   background:  url(".././img/bg.jpg") no-repeat center center fixed;
   background-size: cover;
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 5;
   height:100vh;
   width:100vw;
}

.login__whiteframe {
  height:500px;
  width:500px;
  position:relative;
}

.login__whiteframe:hover {
  background-color: rgb(250,250,250,0.4);
}

.login__button {
  color:white;
  background:#D4D4D4;
}

.md-button.login__button:not([disabled]):hover {
  background:#BABABA;
  font-weight:bold;
}

form {
  width:100%;
}

md-content.md-default-theme, md-content {
  background-color: rgb(250,250,250,0);
  color:black;
  width:100%;
}

md-nav-bar {
  position:absolute;
  top:0;
}

md-nav-bar .md-nav-bar {
  border:none;
}

md-nav-bar md-nav-ink-bar {
  background:none;
  box-shadow: 0 0 5px rgba(121,121,121, 1);
}

md-nav-bar .md-button._md-nav-button.md-unselected {
  color:#DCDCDC;
  font-weight:normal;
}

md-nav-bar .md-button._md-nav-button.md-unselected:hover {
  color:black;
}

.md-button._md-nav-button {
  color:black;
  font-size:22px;
  font-weight:bold;
}

md-input-container .login__input {
 border-color:#5E5F5F;
}

md-input-container.login__input-container label {
  color:black;
  font-size:18px;
  font-weight:bold;
}

md-input-container:not(.md-input-invalid).md-input-focused .login__input {
  border-color:#5E5F5F;
}

md-input-container:not(.md-input-invalid).md-input-focused.login__input-container label, md-input-container.login__input-container.md-input-has-value label {
 color:black;
}

md-dialog .md-button.md-default-theme.md-primary {
    color:white;
}

.views__bg {
  background:#FAFAFA;
  width:100%;
  min-height:1000px;
}
